background = #111
text = lightgray
header-text = orange

body
    font-family "Tahoma", sans-serif
    color text
    background-color background
    max-width 650px
    font-size 18px
    padding 0 10px
    margin 0 auto

header
    display flex
    height fit-content
    justify-content space-between
    margin 0px
    align-items center
    a
        display flex
        justify-content flex-end

h1,h2,h3
    line-height 1.2
    color header-text
    font-family sans-serif

a
    color aquamarine
    text-decoration none
