doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block extendHead 
    body
        header
            h1= title
            div
                a(href="/about") about
                a(href="/") home
        hr
        block extendHeader 
        block content