---
import Layout from "../layouts/base.astro";
---

<Layout title="About me">
	<main>
		<section>
			<h2 class="section-title">About me</h2>
			<p class="text-xl">Hi, I'm <strong>Shichiha</strong>, a web developer from <strong>The Philippines</strong>.</p>
		</section>
	</main>
</Layout>