---
import Layout from "../layouts/base.astro";
import Linkcard from "../components/linkcard.astro";
import Github from "../components/icons/github.astro";
import Tag from "../components/tag.astro";
---

<Layout title="Shichiha">
  <main>
    <!-- Hero Section -->
    <section>
      <h2 class="section-title">Shichiha</h2>
      <p class="section-subtitle">Software engineer and designer.</p>
      <div>
        <p class="text-2xl">High School Student from The Philippines. Interested in Video Game Development</p>
        <a href="/about">Read more...</a>
      </div>
    </section>
    <!-- End Hero Section -->

    <!-- Blog Section -->
    <section>
      <div>
        <h2 class="section-title">Blog</h2>
        <p class="section-subtitle">My thoughts on the web.</p>
      </div>
      <p class="text-2xl">Sometimes I write about things, may it be about web development, design, or just my thoughts.</p>
      <a href="/blog">See my blog</a>

    </section>

    <!-- Projects Section -->
    <section>
      <h2 class="section-title">Projects</h2>
      <p class="section-subtitle">Things I've done in the past.</p>
      <div class="grid lg:grid-cols-2 gap-4">
        <Linkcard link="https://github.com/Shichiha/00sh">
          <div class="flex flex-row justify-between">
            <h4>00sh</h4>
            <Github />
          </div>
          <div class="tags">
            <Tag>Astro</Tag>
            <Tag>Tailwind</Tag>
          </div>
          <p>My Homepage.</p>
        </Linkcard>
        <Linkcard link="https://github.com/Shichiha/chirp">
          <div class="flex flex-row justify-between">
            <h4>chirp</h4>
            <Github />
          </div>
          <div class="tags">
            <Tag>Deno</Tag>
            <Tag>TypeScript</Tag>
            <Tag>Harmony</Tag>
          </div>
          <p>Discord bot (learning purposes)</p>
        </Linkcard>
        <a href="/projects">See more...</a>
      </div>
    </section>
    <!-- End Projects Section -->

    <!-- Contact Section -->
    <section>
      <h2 class="section-title">Contact</h2>
      <p class="section-subtitle">Get in touch</p>
      <div>
        <p class="text-2xl">You can find me on <a href="https://twitter.com/00sh_chiha">Twitter</a> or <a href="https://github.com/Shichiha">Github</a>.</p>
        <a href="/contact">Contact me...</a>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
</Layout>

<style lang="scss">
  .tags {
    @apply flex flex-row gap-2 my-2;
  }
</style>
