---
import Layout from "@layouts/base.astro";
---

<Layout title="Projects">
  <main>
    <section>
      <h1 class="section-title">Let's be real</h1>
      <p class="section-subtitle">Shichiha would never finish such a page.</p>
      <div>
        <p class="text-xl">If you want to see my projects just go to my <a href="https://github.com/Shichiha" target="_blank" rel="noopener noreferrer">GitHub</a> profile.</p>
      </div>
    </section>
  </main>
  </Layout>