<div class="flex flex-col p-4 rounded-lg hover:bg-black/5 hover:dark:bg-white/5 shadow-lg hover:shadow-xl transition-colors border border-quaternary-light dark:border-quaternary-dark">
	<slot />
</div>