@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
body {
  font-family: 'Readex Pro', sans-serif;
  color: #d3d3d3;
  background-color: #111;
  max-width: 650px;
  font-size: 18px;
  padding: 0 10px;
  margin: 0 auto;
  line-height: 2;
}
header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
}
a {
  justify-content: flex-end;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s;
  margin: 10px;
}
a:hover {
  background-color: #333;
  padding: 9px;
}
h1,
h2,
h3 {
  color: #ffa500;
  transition: all 0.1s;
}
h1:hover,
h2:hover,
h3:hover {
  text-indent: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
