body {
  font-family: "Tahoma", sans-serif;
  color: #d3d3d3;
  background-color: #111;
  max-width: 650px;
  font-size: 18px;
  padding: 0 10px;
  margin: 0 auto;
}
header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 0px;
  align-items: center;
}
header a {
  display: flex;
  justify-content: flex-end;
}
h1,
h2,
h3 {
  line-height: 1.2;
  color: #ffa500;
  font-family: sans-serif;
}
a {
  color: #7fffd4;
  text-decoration: none;
}
