@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: system-ui, sans-serif;
  @apply h-screen;
}

body {
  @apply grid grid-flow-row bg-primary-light dark:bg-primary-dark;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
code {
  font-family: Menlo, monospace;
}

main {
  @apply p-4 max-w-3xl w-full mx-auto transition-all;
}

h1,h2,h3,h4,h5,h6,p {
  @apply text-primary-dark dark:text-primary-light;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}