@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
	font-family: system-ui, sans-serif;
	background-color: #F6F6F6;
}
code {
	font-family: Menlo, monospace;
}

main {
	margin: auto;
	padding: 1.5rem;
	max-width: 60ch;
}