---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import "../css/style.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="stencil" />
    <title>{title}</title>

    <script is:inline>
      let dark = localStorage.getItem("dark");
      if (dark === "true") {
        document.documentElement.classList.add("dark");
      }

      function toggleDark() {
        if (document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("dark", "false");
        } else {
          document.documentElement.classList.add("dark");
          localStorage.setItem("dark", "true");
        }
      }
    </script>
  </head>
  <body>
    <div class="sticky top-0 z-50">
      <Header />
    </div>
    <slot />
  </body>
</html>
